html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

#root {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100vh;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding-top: 32px;
}

.link {
    width: 192px;
    height: 64px;
    font-size: 24px;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: bold;
    font-family: monospace;
    opacity: 1.0;
    transition: opacity 0.2s ease-in-out;
}

.link:hover {
    opacity: 0.75;
}

.link.selected {
    cursor: default;
    opacity: 0.5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
}

p {
    color: #fff;
    font-size: 24px;
    font-family: monospace;
    text-align: center;
    line-height: 1.5;
}

span {
    font-weight: bold;
}

.hidden {
    display: none !important;
}

@media (max-width: 1500px), (max-height: 1100px) {
    .link {
        width: 128px;
        height: 48px;
        font-size: 16px;
    }

    main {
        padding-top: 48px;
    }

    p {
        font-size: 18px;
    }
}

@media (max-width: 1100px), (max-height: 800px) {
    .link {
        width: 96px;
        height: 32px;
        font-size: 12px;
    }

    main {
        padding-top: 32px;
    }

    p {
        font-size: 12px;
    }
}